@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Roboto Mono', sans-serif;
}


.center {

    text-align: center;
}


#sub-header-text {
  
color: #104B62;
    text-align: right;
}

#sub-header-text-paragraph {

    font-size: 2em;
    color: #104B62;

}

#main-header-text {
    font-family: 'Rubik', sans-serif;
    padding-top: 20%;
    letter-spacing: 50px;
    font-size: 5em;
color: #104B62;
}


.homepage-jumbo {
    color: black;
    background-image: linear-gradient(#FAEAC6, #8DCDE6); /* Standard syntax (must be last) */
    /*background-image: url("./design/assets/home-bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0rem;
  }



  .selection-bar {
      
  padding-top: 2.5rem;
width:100%;
margin: auto;
    height:150px;
    background-color:#FAEAC6
    
  }

  .selection-bar-inner {
    text-align: center;

  }






  .header-bar {
          
  padding-top: 2.5rem;
  width:100%;
  margin: auto;
      height:150px;
      background-color:#FAEAC6
  }



  

.search-jumbo {
    color: black;
    background-image: linear-gradient(#8DCDE6, #FAEAC6); /* Standard syntax (must be last) */
    /*background-image: url("./design/assets/home-bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0rem;
  }