@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Roboto Mono', sans-serif;
}


#main-header-text {
    font-family: 'Rubik', sans-serif;
    padding-top: 40%;
    letter-spacing: 50px;
}


.jumbotron {
    color: white;
    background-image: linear-gradient(#FAEAC6, #8DCDE6); /* Standard syntax (must be last) */
    /*background-image: url("./design/assets/home-bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }